body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    height: 90dvh;
}

#nav {
    float: left;
    max-width: 15dvw;
    min-width: 15dvw;
    border-width: 0 6px 0 0px;
    border-color: grey;
    border-style: solid;
    height: 90dvh;
    margin-right: 15px;
}

#navlist {
    padding: 5px;
}

#navlist li:hover {
    border: 2px;
    border-style: dashed;
    border-color: lime;

}

#navhead {
    text-shadow: 1px grey;
}

div {

    width: fit-content;
    padding-left: 30px;
    margin-left: 30px;
    max-width: 50dvw;
}

#main {
    display: none;
}

#greg {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

a {
    color: limegreen;
    font-weight: bolder;
}

a:visited {
    color: yellow;
}

footer {
    position: fixed;
    text-align: center;
    left: 50dvh;
    top: 90%;
    z-index: 999;
}