body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color:white;
}

#greg {
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

a {
    color:limegreen;
    font-weight: bolder;
}

a:visited {
    color:yellow;
}
